.full-div {
    height: 100%;
    width: 100%;
    position: relative;
}

.center-button {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.top-button {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.comp-list {
    width: 20%;
    height: 25%;
    border: solid red;
    border-radius: 25px;
    top: 10%;
    margin: 5%;
    padding: 2%;
}