<div class="full-div">
    <div class="row">
        <a class="waves-effect waves-light btn center-button" *ngIf="!inQueue" (click)="enterQueue()">Search</a>
        <a class="waves-effect waves-light btn top-button" *ngIf="inQueue" (click)="exitQueue()">Cancel</a>
    </div>

    <div class="comp-list" *ngIf="currentComp">
        <div class="row center"><a>{{currentComp.name}}</a></div>
        <div class="row center"><a>{{currentComp.tier}} {{currentComp.div}}</a></div>
        <div class="row center">
            <a class="btn-flat left waves-circle"><i class="material-icons" style="color: green" (click)="accept()">thumb_up</i></a>
            <a class="btn-flat right waves-circle"><i class="material-icons" style="color: red" (click)="decline()">thumb_down</i></a>
        </div>
    </div>
</div>