<nav>
    <div class="nav-wrapper">
        <img src="../../assets/lol.png" class="brand-logo center" style="height: 100%;">
        <a (click)="openSideNav()" materialize="sideNav" href="#" data-activates="sideNavbar"
           class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a><i class="large material-icons">settings</i></a></li>
            <li><a>Profile</a></li>
            <li><a>Logout</a></li>
        </ul>
        <ul class="side-nav" id="sideNavbar">
            <li><a>Preferences</a></li>
            <li><a>Profile</a></li>
            <li><a>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="match-list" style="box-shadow: 5px 10px 18px #111">
        <h4 style="text-align: center">Matches</h4>
        <div *ngFor="let match of matches">
            <a >{{match.matchUserID}}</a>
        </div>
    </div>
    <div style="position: fixed; left: 15%; width: 100%; height: 100%; padding: 10px;">
        <app-search></app-search>
    </div>
</div>

