.match-list {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    left: 0;
    background-color: #1f3251;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
    position: fixed;
    box-shadow: 5px 10px 18px #111;
}

.match {
    border: 1px solid gray;
    border-radius: 5px 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}