<div class="col l12">
    <div class="row">
        <h2 style="color: white">{{ user }}</h2>
    </div>

    <div class="col l11"> <!-- Last 5 games -->
        <h4 style="color: white">Last 10 games</h4>
        <div class="center game col l2 s12" *ngFor="let game of games">
            <div class="row">
                <a>Champion: {{game.champ}} <br> KDA: {{game.kda}} <br> Result: {{game.win}}</a>
            </div>
        </div>
    </div>

    <div class="col l12 s12" *ngIf="prefs">
        <div class="center">
            <div class="row">
                <h4 style="color: white; float: left;">Preferences</h4>
            </div>
            <div class="row">
                <a>Account Name: {{prefs.account}}</a>
            </div>
            <div class="row col l12 s12">
                <table class="col l5" style="margin-right: 15px">
                    <thead>
                    <tr><a>User positions</a></tr>
                    </thead>
                    <tbody>
                        <tr class="col l6 s12">
                            <td><a>Primary: {{prefs.myPrim}}</a></td>
                        </tr>
                        <tr class="col l6 s12">
                            <td><a>Secondary: {{prefs.mySec}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="col l5">
                    <thead>
                    <tr><a>Desired positions</a></tr>
                    </thead>
                    <tbody>
                    <tr class="col l6 s12">
                        <td><a>Primary: {{prefs.matchPrim}}</a></td>
                    </tr>
                    <tr class="col l6 s12">
                        <td><a>Secondary: {{prefs.matchSec}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>